<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="/css/site.css">
</head>
<body>
    <div class="container">
        <header>
            <img id="logo" src="images/logo.jpg" alt="Logotyp" />
            <div class="date">Dagens datum är: @DateTime.Now.ToString("yyyy-MM-dd") <span id="clock"></span> </div>
        </header>
        <div class="content">
            <aside>
                <nav>
                    <ul>
                        <li><a href="/" class="@((ViewData["Title"] as string) == "Start" ? "active" : "")">Start</a></li>
                        <li><a href="/Razor" class="@((ViewData["Title"] as string) == "Razor" ? "active" : "")">Razor</a></li>
                        <li><a href="/About" class="@((ViewData["Title"] as string) == "Om sidan" ? "active" : "")">Om sidan</a></li>
                    </ul>
                </nav>
            </aside>
            <main>
                @RenderBody()
            </main>
        </div>
        <footer>
            <p>Av Sanna Olsson - Kontakta mig via e-post: <a href="mailto:saol1901@student.miun.se">saol1901@student.miun.se</a></p>
        </footer>
    </div>
    <script src="/js/site.js"></script>
</body>
</html>
